

<nav class="uk-navbar-container navBar" uk-navbar>
  <div class="uk-navbar-left">
    <div class="uk-flex uk-flex-middle uk-text-center uk-padding-small">
      <div class="uk-text-bold uk-text-large header" style="color: #f4f4f2" >&lt;/Canvas-To-Code&gt;</div>
    </div>
   
  </div>
</nav>


<div class="uk-container base_conatiner uk-margin-small uk-padding-small base_container" style="background-color: white; padding: 0%;">
  <div class="uk-padding-small  uk-flex uk-flex-middle uk-text-center uk-flex-right	" style="height: 30px; background-color: white;">
    <div class="uk-flex uk-margin-right uk-flex-middle uk-text-center uk-flex-right	uk-text-bold">Canvas Toggle</div>
    <div class="uk-flex uk-margin-right uk-flex-middle uk-text-center uk-flex-right	uk-text-bold">
      <ui-switch class="uk-margin-right" style="margin-top: 6px;" (click)="canvasToggle()"></ui-switch>
    </div>
    
  </div>
  <div *ngIf="(canvasOn$ | async)" class="uk-container canvas_container">
    <canvas-whiteboard class="canvas_pointer" #canvasWhiteboard
                  [options]="canvasOptions"
                  (onBatchUpdate)="onDone_Drawing($event)"
                  (onClear)="onCanvasClear()"
    >  
    </canvas-whiteboard>
  </div>
  <ngs-code-editor style="height: 75vh;"
  [theme]="theme"
  [(codeModel)]="codeModel"
  [options]="options"
  >
  
  </ngs-code-editor>
</div>




